body {
    font-family: Arial, Helvetica, sans-serif;
}

/*导航栏*/
header {
    background: black;
    height: 50px;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

ul {
    width: 80%;
}

.dropdown {
    width: 20%;
}

ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    text-align: center;
}

li {
    display: inline-block;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo a{
    background-image: url("../../images/icon/jupiter_logo.png");
    background-repeat: no-repeat;
    background-size: 40px;
    display: inline-block;  /*保证文字text能移动走*/
    height: 40px;
    width: 40px;
    margin: 5px;    /*外边距:through background color*/
    text-indent: -999999px;
}
/*背景图自动宽100%：background-size: 100%;*/
/*背景图（上下）永远居中：background-position: center;*/
/*调整背景位置：position: relative;top: -40px;*/
.logo a:hover {
    background-color: #ffd693;
}

.nav {
    height: 50px;
    width: 70px;
    margin: 0 30px 0 0;
}

.nav a {
    color: white;
    display: block;
    height: 50px;
    width: 70px;
    line-height: 50px;
}

.nav a:hover,.dropbtn:hover {
    background-color: #b6baba;
}

.nav.this-page a{
    background-image: url(../../images/icon/三角.png);
    background-repeat: no-repeat;
    background-position:26px 36px;
    background-size: 20px;
}

@media (max-width: 420px) {
    .nav {
        margin: 0;
    }
}

/*用户*/

.dropdown {
    display: block;
    height: 50px;
    width: 70px;
    line-height: 50px;
}
.dropbtn {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 70px;
}

.dropdown-content {
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    display: none;
    position: absolute;
    right: 0;
    padding: 10px;
}

.dropdown-content a {
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    width: 70px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #b6baba;
}

div a.dropdown-this-page {
    background-color: rgba(0,0,0,0.4);
}

.dropdown-item img {
    width: 1rem;
    position: relative;
    top: 3px;
    margin-right: 4px;
}

/*大头图*/

.head-figure {
    background-image: url("../../images/normal/medium/wallhaven-003.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 100%;
    height: 740px;
    text-indent: -9999999px;
}

@media (max-width: 1000px) and (min-width: 720px) {
    .head-figure {
        height: 550px;
    }
}

@media (max-width: 720px) and (min-width: 420px){
    .head-figure {
        height: 350px;
    }
}

@media (max-width: 420px) {
    .head-figure {
        height: 180px;
    }
}

/*主要图片部分*/

.main {
    padding: 55px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.main figure{
     position: relative;
     box-shadow: gray 0 0 10px;
     width: 300px;
     height: 300px;
     margin: 15px;
     font-size: 14px;
     /*text-align: center; !*只有figcaption居中了，图片并没有*!*/
 }

.main figure img{
    background-color: rgba(255, 178, 95, 0.6);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main figcaption{
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    color: white;
    opacity: 0;
    width: 300px;
    height: 80px;
    padding: 10px;
    transition: opacity 1s ease;
}

.main figure:hover figcaption {
    opacity: 1;
}

.main figcaption p {
    line-height: 1.2rem;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}

@media (max-width: 420px) {

    .main {
        padding: 25px 20px;
    }
}

/*两个小图标*/

.icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    display: flex;
    flex-direction: column;
}

.icon a {
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}
.icon img {
    height: 40px;
    width: 40px;
}

input[type='button'] {
    border: none;
    background-color: indianred;
    border-radius: 5px;;
    color: white;
    font-size: 1.0em;
    height: 2.5rem;
    width: 8rem;
    text-align: center;
    outline: none;
}

/*其他页脚注*/

footer {
    background: black;
    color: white;
    font-size: 12px;
    padding: 4px;
    text-align: right;
}

/*主页脚注*/

.home-footer {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.2rem;
    text-align: center;
}

.words {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.words p {
    height: 50px;
    width: 120px;
    line-height: 50px;
    vertical-align: center;
    margin-right: 20px;
}

.words-div {
    height: 50px;
    width: 120px;
    position: relative;
    margin-right: 20px;
}

.footer-img-one {
    display: inline-block;
}

.words-div img {
    display: inline-block;
}

.code img {
    width: 120px;
    border-radius: 10px;
}

.code {
    opacity: 0;
    position: absolute;
    bottom: 45px;
    right: 28px;
}

.footer-img-one:hover .code {
    opacity: 1;
}
.weixin:hover,.weibo:hover {
    border: 1px solid black;
}

.weixin,.weibo {
    width: 30px;
    margin: 10px;
}

.home-footer p:last-child {
    width: 100%;
    text-align: right;
}